/* ---------------------------------------------------
    RESPONSIVE TEXT (JOSE)
----------------------------------------------------- */
.respoText {
    font-size: 5vw;
    text-align: center;
}
.respText{
    font-size: 3vw;
    text-align: center;
    padding-top: 10px
}

.respoTexto{
    font-size: 4vw;
    text-align: center;
}

.row{
    justify-content: center;
}
.centrados{
    text-align: center;
}

@media (min-width: 1024px) {
    .respoText{
        font-size: 1.5vw;
    }
    .respoTexto{
        font-size: 1.2vw; 
    }
    .respText{
        font-size: 0.9vw;
    }
}

@media (min-width: 768px) {
    .respoText{
        font-size: 2.5vw; 
    }
    .respoTexto{
        font-size: 2vw; 
    }
    .respText{
        font-size: 1.5vw;
    }
}
